# Node modules for both frontend and backend
react/Foodhub/Frontend/node_modules/
react/Foodhub/Backend/node_modules/


# Vite build output

react/Foodhub/Frontend/dist/
# Common OS files
.DS_Store
*.log
